.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.header {
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #1a202c;
}
.header_layout {
  width: 90px;
  height: 20px;
  margin-bottom: 20px;
}

.error_msg_layout {
  border: 1px #f4635e dashed;
  margin: 20px 0;
  width: 383px;
  height: 40px;
  text-align: center;
  border-radius: 8px;
  padding: 10px;
}
.error_msg {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.email_box_label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.input_box {
  border: 1px solid #dde0e3;
  border-radius: 8px;
  width: 383px;
}
.password_box_label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 40px;
}

.checkbox {
  align-self: flex-start;
}

.btn {
  background-color: #00b9ff;
  width: 77px;
  height: 40px;
  border-radius: 8px;
  border: 1px;
  margin-top: 1rem;
  padding: 11px, 16px, 11px, 16px;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.btn_disabled {
  opacity: 80%;
  background-color: #c7c3c3;
}
.btn:hover {
  background-color: #2563eb;
}

.error_borders {
  border: 1px solid #f4635e;
}
