.header {
  font-weight: 700;
  size: 24px;
  line-height: 20px;
}
.header_layout {
  width: 81px;
  height: 20px;
}
.email_box {
  border-radius: 8px;
  width: 383px;
  height: 40px;
  border: 1px;
}

.email_box_label {
  font-weight: 400;
  size: 16px;

  line-height: 20px;
}
.email_box_label_layout {
  width: 105px;
  height: 20px;
}
.password_box {
  border-radius: 8px;
  width: 383px;
  height: 40px;
  border: 1px;
}
.password_box_label {
  font-weight: 400;
  size: 16px;
  line-height: 20px;
}
